body{ font-family: 'Lato', sans-serif;}

.success, .error{
    text-align: center;
    color: black;
    padding: 5px;
    margin: 5px 0 15px 0;
}

.success{background: green;}
.error{background: red;}

h1{text-align: center;}

label{
   display: block;
   width: 100%;
   text-align: center;
   margin: auto;
   padding-bottom: 30px;
}

input{
    display: block;
    width: 60%;
    height: 30px;
    margin: 0 auto;
}

.inputs{
    margin: 40px 40px;
}

#submit{
    background: rgb(4,4,102);
    color: white;
    width: 200px;
    padding: 20px 20px;
    line-height: 0;
    font-size: 18px;
    border-radius: 20px;
}

table{
    width: 100%;
    margin: auto;
}

th{
    width: 33%;
}

td{
    text-align: center;
}